{% extends "base.html" %}
{% block title %}Добавить{% endblock %}
{% block header %}Добавить{% endblock %}
{% block content %}
{% load user_filters %}
<form method="post" enctype="multipart/form-data" action=
{% if edit %}
  "{% url 'post_edit' post_edit.author post_edit.id %}"
  {% else %}
  "{% url 'new_post' %}"
{% endif %}
>

  {% csrf_token %}

  {% for field in form %}
  <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
    <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}</label>
    <div class="col-md-6 my-1">
      {{ field|addclass:"form-control" }}
    </div>
  </div>
  {% endfor %}
  <input type="submit" value="Опубликовать">
</form>
{% endblock %}